{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load cropping %}
{% block content %}

{% include 'main/carousel.html' %}
<div class="container padding">
        <h1 class="display-4 display-title no-line padding"><span>{{ page_name }}</span></h1>
        <div class="row padding">
            {% for article in page_obj %}
                <div class="col-lg-3 col-md-3">
                    <div class="img-container">
                        {% if article.img_description %}
                        <a class="article-img" href="{% url 'article_detail' article_id=article.id %}"><img class="width-100 rounded-15 " src="{% cropped_thumbnail article "cropping" %}" alt=""></a>
                        <div class="article-description">
                            <h5>
                                {{ article.title }}
                            </h5>
                        </div>
                        {% endif %}
                    </div> 
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                {% if page_obj.has_other_pages %}
                <ul class="pagination justify-content-center">
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
</div>

{% endblock %}