{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    {% include 'main/breadcrumb.html' %}
    <div class="container-fluid padding-whitebg">
    <div class="container padding">
        <div class="row padding">
            {% for article in articles %}
                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <h5 class="card-header card-red-header">Tin tức</h5>
                        <div class="card-body">
                            <h4 class="card-title" style="height:80px">{{ article.title|truncatewords:12 }}</h4>
                            <p class="card-text">{{ article.body|safe|truncatewords_html:20 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

    <section class="section novi-background bg-cover section-70 section-md-114 bg-catskill">
        <div class="shell isotope-wrap">
            <h2 class="text-bold">Bài viết</h2>
            <hr class="divider bg-madison">
            <div class="row range-30 isotope offset-top-60 text-left">
                {% for art in arts %}
                    <div class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                        <article class="post-course"><a href="#"></a>
                            <div class="post-news-body">
                                <h6><a href="{% url 'article_detail' article_id=art.id %}">{{ art.title|truncatewords:10 }}</a></h6>
                                <div class="offset-top-10">
                                    <p>{{ art.body|safe|truncatewords_html:15 }}</p>
                                </div>
                                <div class="post-news-meta offset-top-20"><span
                                        class="icon novi-icon icon-xs mdi mdi-calendar-clock text-middle text-madison"></span><span
                                        class="text-middle inset-left-10 text-italic text-black">{{ art.date|date }}</span>
                                </div>
                                <div class="post-course-meta offset-top-20"><span
                                        class="text-middle text-black"><a
                                        href="{% url 'article_detail' article_id=art.id %}">Đọc thêm</a></span>
                                    <span class="icon inset-left-10 novi-icon icon-xs text-middle text-madison mdi-arrow-right mdi"></span>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}