{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    {% include 'main/breadcrumb.html' %}
    <div class="container-fluid padding-whitebg">
    <div class="container padding">
        <div class="row padding">
            {% for article in articles %}
                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <h5 class="card-header card-red-header">Bài viết</h5>
                        <div class="card-body">
                            <a href="{% url 'article_detail' article_id=article.id %}"><h4 class="card-title">{{ article.title|truncatewords:9 }}</h4></a>
                            <p class="card-text">{{ article.body|safe|truncatewords_html:20 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}