{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">

<head>
    <title>Du học Đồng Thịnh</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700%7CMerriweather:400,300,300italic,400italic,700,700italic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="page text-center">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand"><img src="/media/logo-no-uk.png" style="width:120px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_us' %}">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'uni_search' %}">Tìm khóa học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'universities' %}">Danh sách trường</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'articles' %}">Bài viết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
<!-- Footer -->
<div class="container-fluid footer">
    <div class="row text-center">
        <div class="col-md-4">
            <img src="{% static 'images/logo-no-uk.png' %}" style="width:120px;">
            <hr class="light">
            <p>(028) 628 732 53</p>
            <p>info@dongthinh.co.uk</p>
        </div>
        <div class="col-md-4 text-left footer-text">
            <h5>Văn phòng Hồ Chí Minh</h5>
            <p>21G Hoàng Văn Thụ, P. 8, Q. Phú Nhuận</p>
            <p>Hotline: 0869932900</p>
            <h5>Văn phòng London</h5>
            <p>Newtec Building, 2nd Floor, Room S4, 1 Mark St, Stratford, London, E154GY</p>
            <p>Hotline: 07715621123</p>
        </div>
        <div class="col-md-4 text-left footer-text">
            <h5>Văn phòng Đà Lạt</h5>
            <p>Lô K1 K2 khu quy hoạch, Đoàn Thị Điểm, Phường 4, Thành phố Đà Lạt, Lâm Đồng</p>
            <p>Hotline: (+84) 915 049 084</p>
            <h5>Văn phòng Hà Nội</h5>
            <p>Tầng 5, Tòa nhà số 42A Trần Xuân Soạn, P. Ngô Thị Nhậm, Q. Hai Bà Trưng</p>
            <p>Hotline: 0961660266</p>
        </div>
        <div class="col-12 footer-end">
                <h5>&copy;Dongthinh.co.uk</h5>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>