{% extends 'main/base.html' %}
{% block content %}
    {% include 'main/breadcrumb.html' %}
    <div class="container padding-whitebg">
        <div class="row padding">
            <div class="col-md-4 text-left">
                <h5 class="red-h5">Liên hệ với chúng tôi</h5>
            </div>
            <div class="col-md-8 text-left">
                <p>Chúng tôi luôn cố gắng cải thiện trang web. Chúng tôi hoan nghênh mọi phản hồi và góp
                    ý của bạn tại địa chỉ {{ page_info.email }}, dù khen hay chê đều vô cùng hữu ích. Chúng
                    tôi sẽ cố gắng phản hồi và xử lý một cách nhanh nhất. Những đóng góp của các bạn sẽ giúp ích cho
                    hàng
                    nghìn người Việt Nam để tìm kiếm khóa học mỗi ngày.</p>
                <p>Nếu bạn cần thêm thông tin, lời khuyên hoặc thấy có lỗi hoặc sự cố trên website trong quá trình tìm
                    kiếm thông tin, xin vui lòng thông báo cho Đồng Thịnh tại {{ page_info.email }}</p>
            </div>
        </div>
        <hr class="light">
        <div class="row padding">
            <div class="col-md-4 text-left">
                <h5 class="red-h5">Văn phòng của chúng tôi</h5>
            </div>
            <div class="col-md-4 text-left">
                <h5 class="blue-h5">Văn phòng Hồ Chí Minh</h5>
                <p>21G Hoàng Văn Thụ, P. 8, Q. Phú Nhuận</p>
                <p>Hotline: 0869932900</p>
                <h5 class="blue-h5">Văn phòng London</h5>
                <p>Newtec Building, 2nd Floor, Room S4, 1 Mark St, Stratford, London, E154GY</p>
                <p>Hotline: 07715621123</p>
            </div>
            <div class="col-md-4 text-left">
                <h5 class="blue-h5">Văn phòng Đà Lạt</h5>
                <p>Lô K1 K2 khu quy hoạch, Đoàn Thị Điểm, Phường 4, Thành phố Đà Lạt, Lâm Đồng</p>
                <p>Hotline: (+84) 915 049 084</p>
                <h5 class="blue-h5">Văn phòng Hà Nội</h5>
                <p>Tầng 5, Tòa nhà số 42A Trần Xuân Soạn, P. Ngô Thị Nhậm, Q. Hai Bà Trưng</p>
                <p>Hotline: 0961660266</p>
            </div>
        </div>
    </div>
{% endblock %}