{% extends 'main/base.html' %}
{% block content %}
    <div class="container text-start">
        <h3 class="no-line text-center pt-4"><span>{{ page_name }}</span></h3>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <label class="control-label">Họ và tên</label>
                    {{ form.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <label class="control-label">Email</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <label class="control-label">Số điện thoại</label>
                    {{ form.phone_number }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <label class="control-label">Nội dung</label>
                    {{ form.message }}
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <button type="submit" class="btn btn-primary">Đăng ký tư vấn</button>
            </div>
        </form>
        <div class="col-md-6 offset-md-3">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}