{% load static %}
{% load widget_tweaks %}
<footer class="section page-footer">
        <div class="novi-background bg-cover bg-default">
            <div class="shell-wide">
                <div class="hr bg-gray-light"></div>
            </div>
            <div class="section-60">
                <div class="shell">
                    <div class="range range-50 range-lg-justify range-xs-center">
                        <div class="cell-md-3 cell-lg-3"><a class="reveal-inline-block"
                                                            href="{% url 'index' %}"><img
                                src="{% static 'images/logo-no-uk.png' %}" alt="" style="width:144px"
                                ></a>
                            <div class="offset-top-30 text-center">
                                <ul class="list-inline list-inline-xs list-inline-madison">
                                    <li>
                                        <a class="icon novi-icon icon-xxs fa-facebook icon-circle icon-gray-light-filled"
                                           href="{{ page_info.facebook_url }}"></a></li>
                                    <li><a class="icon novi-icon icon-xxs fa-twitter icon-circle icon-gray-light-filled"
                                           href="#"></a></li>
                                    <li><a class="icon novi-icon icon-xxs fa-google icon-circle icon-gray-light-filled"
                                           href="#"></a></li>
                                    <li>
                                        <a class="icon novi-icon icon-xxs fa-instagram icon-circle icon-gray-light-filled"
                                           href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="cell-xs-10 cell-md-5 cell-lg-4 text-lg-left">
                            <h6 class="text-bold">Liên hệ</h6>
                            <div class="text-subline"></div>
                            <div class="offset-top-30">
                                <ul class="list-unstyled contact-info list">
                                    <li>
                                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                            <div class="unit-left"><span
                                                    class="icon novi-icon mdi mdi-phone text-middle icon-xs text-madison"></span>
                                            </div>
                                            <div class="unit-body"><a class="text-dark" href="tel:#">{{ page_info.phone_number }}</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                            <div class="unit-left"><span
                                                    class="icon novi-icon mdi mdi-map-marker text-middle icon-xs text-madison"></span>
                                            </div>
                                            <div class="unit-body text-left"><a class="text-dark"
                                                                                href="#">{{ page_info.address }}</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                            <div class="unit-left"><span
                                                    class="icon novi-icon mdi mdi-email-open text-middle icon-xs text-madison"></span>
                                            </div>
                                            <div class="unit-body"><a href="mailto:{{ page_info.email }}">{{ page_info.email }}</a></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="cell-xs-10 cell-md-8 cell-lg-4 text-lg-left">
                            <h6 class="text-bold">Thư thông tin</h6>
                            <div class="text-subline"></div>
                            <div class="offset-top-30 text-left">
                                <p>Nhập email để nhận thông tin mới nhất về thông tin và học bổng du học</p>
                            </div>
                            <div class="offset-top-10">
                                <form class="rd-mailform form-subscribe" data-form-output="form-output-global"
                                      data-form-type="subscribe" method="post"
                                      action="https://demo.hasthemes.com/patshala/bat/rd-mailform.php">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm"><label class="form-label"
                                                                                       for="form-email">Your
                                            e-mail</label><input class="form-control" id="form-email" type="email"
                                                                 name="email" data-constraints="@Required @Email"><span
                                                class="input-group-btn"><button class="btn btn-sm btn-primary"
                                                                                type="submit">Đăng ký</button></span>
                                        </div>
                                    </div>
                                    <div class="form-output"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-5 bg-madison context-dark novi-background">
                <div class="shell text-md-left">

                </div>
            </div>
        </div>
    </footer>