{% load static %}
{% load widget_tweaks %}
<header class="page-head">
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar novi-background rd-navbar-center" data-layout="rd-navbar-fixed"
                 data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
                 data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
                 data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
                 data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
                 data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="220px"
                 data-xl-stick-up-offset="220px" data-xxl-stick-up-offset="220px" data-lg-stick-up="true"
                 data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-inner">
                    <div class="rd-navbar-panel">
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap">
                            <span></span></button>
                        <h4 class="panel-title">Đồng Thịnh</h4>
                        <button class="rd-navbar-top-panel-toggle" data-rd-navbar-toggle=".rd-navbar-top-panel">
                            <span></span></button>
                        <div class="rd-navbar-top-panel">
                            <div class="shell">
                                <div class="range range-10 range-md-center range-md-middle range-lg-around">
                                    <div class="cell-md-3">
                                        <div class="unit unit-horizontal unit-top unit-spacing-xs">
                                            <div class="unit-left"><span
                                                    class="icon novi-icon mdi mdi-phone text-middle"></span></div>
                                            <div class="unit-body"><a class="reveal-block"
                                                                      href="tel:{{ page_info.phone_number }}">{{ page_info.phone_number }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell-md-3 text-center">
                                        <div class="rd-navbar-brand"><a class="reveal-inline-block"
                                                                        href="{% url 'index' %}"><img
                                                src="{% static 'images/logo-no-uk.png' %}" alt="" width="191"
                                                height="80"></a></div>
                                    </div>
                                    <div class="cell-md-3">
                                        <div class="inset-md-left-50">
                                            <div class="unit unit-horizontal unit-top unit-spacing-xs text-left">
                                                <div class="unit-left"><span
                                                        class="icon novi-icon mdi mdi-map-marker text-middle"></span>
                                                </div>
                                                <div class="unit-body"><a
                                                        href="#">{{ page_info.address }}</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-menu-wrap clearfix">
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-mobile-scroll">
                                <div class="rd-navbar-mobile-header-wrap">
                                    <div class="rd-navbar-mobile-brand"><a
                                            href="{% url 'index' %}"><img
                                            src="{% static 'images/logo-no-uk.png' %}" alt="" width="191"
                                                height="80">
                                    </a>
                                    </div>
                                </div>
                                <ul class="rd-navbar-nav">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li><a href="{% url 'about_us' %}">Giới thiệu</a></li>
                                    <li><a href="{% url 'universities' %}">Trường</a></li>
                                    <li><a href="{% url 'universitiesFilter' %}">Tìm trường</a></li>
                                    <li><a href="{% url 'articles' %}">Bài viết</a></li>
                                    <li><a href="{% url 'contact' %}">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>