{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load cropping %}
{% block content %}

<!-- slick -->
{% include 'main/carousel.html' %}
<!-- <section class="slide padding">
    <div class="banner">
        <div><img class="div-center width-100" src="{% static '/images/image-44.png' %}"></div>
        <div><img class="div-center width-100" src="{% static '/images/image-44.png' %}"></div>
        <div><img class="div-center width-100" src="{% static '/images/image-44.png' %}"></div>
    </div>
    <div class="banner-box">
        <div class="banner-text">
            <h5>Khám phá cơ hội học tập và làm việc toàn cầu</h5>
            <p>Với hơn 100 cơ hội nhận học bổng lên đến 85%</p>
        </div>
    </div>
</section> -->
<!--  -->

<!-- blog link  -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a class="btn btn-lg btn-outline-secondary width-100 btn-round" href="#study-level">Các bậc học</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="btn btn-lg btn-outline-secondary width-100 btn-round" href="#">Ngành phổ biến</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="btn btn-lg btn-outline-secondary width-100 btn-round" href="#scholarship">Học bổng</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="btn btn-lg btn-outline-secondary width-100 btn-round" href="#event">Sự kiện</a>
            </div>
        </div>
    </div>
<!--  -->

<!-- Study level -->
<section id="study-level" class="padding d-none d-md-block">
    <div class="container">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4 display-title no-line"><span>Các bậc học</span></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="img-container">
                    <a href="{% url 'universities_by_level' level='gcse' %}"><img class="width-100" src="{% static '/images/Untitled-2level 1.jpg' %}"></a>
                    <div class="img-overlay">
                        <h5>
                            Bậc học GCSE
                        </h5>
                        <p>THCS 10-18 tuổi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="img-container">
                    <a href="{% url 'universities_by_level' level='a-level-foundation' %}"><img class="width-100" src="{% static '/images/Untitled-2level 2.jpg' %}"></a>
                    <div class="img-overlay">
                        <h5>
                            Bậc học A level Foundation
                        </h5>
                        <p>Dự bị đại học 18-20 tuổi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="img-container">
                    <a href="{% url 'universities_by_level' level='under-graduate' %}"><img class="width-100" src="{% static '/images/Untitled-2level 3.jpg' %}"></a>
                    <div class="img-overlay">
                        <h5>
                            Bậc học Under-Graduate
                        </h5>
                        <p>Cử nhân</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="img-container">
                    <a href="{% url 'universities_by_level' level='graduate' %}"><img class="width-100" src="{% static '/images/Untitled-2level 4.jpg' %}"></a>
                    <div class="img-overlay">
                        <h5>
                            Bậc học Graduate
                        </h5>
                        <p>Thạc sĩ-Master</p>
                    </div>
                    
                    <!-- <img src="{% static '/images/Untitled-2level 5.jpg' %}"> -->
                </div>
                <div class="img-container" style="padding-top: 4%;">
                    <a href="{% url 'universities_by_level' level='research' %}"><img class="width-100" src="{% static '/images/Untitled-2level 5.jpg' %}"></a>
                    <div class="img-overlay">
                        <h5>
                            Bậc học Research
                        </h5>
                        <p>Tiến sĩ-Nghiên cứu sư-Trợ lý giáo sư</p>
                    </div>
                    
                    <!-- <img src="{% static '/images/Untitled-2level 5.jpg' %}"> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->


<!-- top universities -->
<section id="scholarship" class="py-5">
<div class="container">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4 display-title no-line"><span>Trường học bổng giá trị cao</span></h1>
            <p class="discription">Lên đến tối đa 90% hoặc giảm thẳng vào học phí</p>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class=" slide-container feature-university">
            {% for university in universities %}
                <div class="col-lg-2">
                    <div class="card card-university">
                        <a href="{% url 'university_detail' university_id=university.id %}"><img class="card-img-top" src="{% cropped_thumbnail university "cropping" %}"></a>
                        <div class="card-body">
                            <h4 class="card-title truncate-title">{{ university.universityName }}</h4>
                            <p class="card-text truncate">{{ university.description|striptags|safe }}</p>
                            <a href="{% url 'university_detail' university_id=university.id %}" class="btn btn-outline-secondary">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'universities' %}" class="btn btn-primary btn-lg btn-wide">Xem tất cả</a>
        </div>
    </div>
</section>
<!--  -->


<!-- counter -->
<section class="counter padding">
    <div class="container-fluid">
        <div class="row padding">
            <div class="col-md-3 col-sm-6">
                <div class="number timer" data-to="10" data-speed="1500"></div>
                <h5 class="title">Kinh nghiệm tư vấn</h5>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="number timer" data-to="3000" data-speed="1500"></div>
                <h5 class="title">Học viên</h5>
            </div>
            <div class="col-md-3 col-sm-6" >
                <div class="number timer" data-to="1000" data-speed="1500"></div>
                <h5 class="title">Học bổng</h5>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="number timer" data-to="350" data-speed="1500"></div>
                <h5 class="title">Đối tác</h5>
            </div>
        </div>
    </div>
</section>
<!--  -->

{% endblock %}