{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load cropping %}
{% block content %}

<!-- Carousel -->
<div id="slides" class="carousel slide d-none d-md-block" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static '/images/slide-bg.jpg' %}">
            <div class="carousel-caption">
                <h5></h5>
                <p class="carousel-discription">Tìm khóa học phù hợp nhất</p>
                <a href="{% url 'uni_search' %}" class="btn btn-primary btn-lg">Công cụ tìm kiếm khóa học</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static '/images/slide-bg1.jpg' %}">
            <div class="carousel-caption">
                <h5></h5>
                <p class="carousel-discription" >Tìm khóa học phù hợp nhất</p>
                <a href="{% url 'uni_search' %}" class="btn btn-primary btn-lg">Công cụ tìm kiếm khóa học</a>
            </div>
        </div>
    </div>
</div>
<!-- jumbotron -->
<div class="container-fluid jumbotron">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <p class="lead">Đối tác chính thức của hơn 100 trường Đại học, Cao đẳng hàng đầu Anh quốc Đối tác của
                Warwick Vesey, top 5 văn phòng luật sư lớn nhất Anh quốc
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <a href="{% url 'uni_search' %}" class="btn btn-outline-secondary btn-lg">Tìm khóa học</a>
        </div>
    </div>
    </div>
</div>
{# Feature subjects #}
<div class="container-fluid">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4 display-title">Ngành phổ biến</h1>
        </div>
        <hr>
    </div>
</div>
<!-- Card -->
<div class="container padding padding-whitebg">
    <div class="row padding">
        {% for subject in subjects %}
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <h5 class="card-header card-blue-header">{{ subject.subjectName }}</h5>
                    <ul class="list-group list-group-flush">
                        {% for unisubject in subject.unisubject_set.all|slice:"5" %}
                            <a href="{% url 'uni_by_subject' uni_subject_id=unisubject.id %}"><li class="list-group-item">{{ unisubject.name }}</li></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="{% url 'subjects_query' %}" class="btn btn-outline-secondary btn-lg">Xem tất cả</a>
    </div>
</div>

<!-- 2 collumn -->
<div class="container-fluid padding-greybg">
    <div class="container padding">
        <div class="row padding">
            <div class="col-lg-6 col-md-12">
                <div class="card card-news">
                    <img src="{% static 'images/myhc_91803.jpg' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Ứng dụng quản lý chi tiêu nên-tải-về cho du học sinh</h3>
                    </div>
                </div>
            </div>
            {% for article in articles|slice:":2" %}
                <div class="col-lg-3 col-md-6">
                    <div class="card card-news">
                        <h4 class="card-header card-red-header">Bài viết</h4>
                        <div class="card-body">
                            <a href="{% url 'article_detail' article_id=article.id %}"> <h5 class="card-title">{{ article.title|truncatewords:12 }}</h5></a>
                            <p class="card-text">{{ article.body|lower|striptags|safe|truncatewords_html:20 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for article in articles|slice:"2:" %}
                <div class="col-lg-6">
                    <div class="card card-news">
                        <h4 class="card-header card-red-header">Bài viết</h4>
                        <div class="card-body">
                            <a href="{% url 'article_detail' article_id=article.id %}"> <h5 class="card-title">{{ article.title }}</h5></a>
                            <p class="card-text">{{ article.body|lower|striptags|safe|truncatewords_html:40 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Feature University -->
<div class="container-fluid">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4 display-title">Trường phổ biến</h1>
        </div>
        <hr>
    </div>
</div>
<!-- Card -->
<div class="container padding">
    <div class="row padding">
        {% for university in universities %}
            <div class="col-lg-4 col-md-6">
                <div class="card card-university">
                    <a href="{% url 'university_detail' university_id=university.id %}"><img class="card-img-top" src="{% cropped_thumbnail university "cropping" %}"></a>
                    <div class="card-body">
                        <h4 class="card-title">{{ university.universityName|truncatechars_html:20 }}</h4>
                        <p class="card-text">{{ university.description|striptags|safe|truncatewords_html:10 }}</p>
                        <a href="{% url 'university_detail' university_id=university.id %}" class="btn btn-outline-secondary">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="{% url 'universities' %}" class="btn btn-outline-secondary btn-lg">Xem tất cả</a>
    </div>
</div>
{#testimonial#}
<div class="container-xl padding-greybg">
    <div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h2>Câu chuyện thành công</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="img-box"><img
                                src="{% static 'images/nguyen-duy-tan-bellerbys-college-1024x536.jpg' %}" alt=""></div>
                        <p class="testimonial">Chương trình A-Level cần thiết để được vào đại học bên Anh, nên là em mới
                            đi tìm hiểu và liên hệ rất là nhiều, thì em tìm được đến Đồng Thịnh và Đồng Thịnh đã giúp đỡ
                            em rất là nhiều trong việc lấy được học bổng và đi du học.</p>
                        <p class="overview"><b>Nguyễn Duy Tân</b>, BELLERBYS COLLEGE - ANH QUỐC</p>
                    </div>
                    <div class="carousel-item">
                        <div class="img-box"><img src="{% static 'images/phương-mai.jpg' %}" alt=""></div>
                        <p class="testimonial">Công ty Đồng Thịnh tư vấn giúp em du học Anh rất suôn sẻ, không có bị
                            khúc mắc gì, nói chung mọi việc đều tốt. Còn các bạn tư vấn cho cô thì đều rất trẻ, rất nhẹ
                            nhàng, dễ thương và tận tình. Cô cũng gửi lời cảm ơn đến các bạn tư vấn.</p>
                        <p class="overview"><b>Cô Trần Tố Mai</b>, OSSALL SCHOOL, UK</p>
                    </div>
                    <div class="carousel-item">
                        <div class="img-box"><img src="{% static 'images/my-ha-1024x536.jpg' %}" alt=""></div>
                        <p class="testimonial">Em cảm ơn chị Nhi đã nhiệt tình hỗ trợ em. Chị Như là trên cả thân thiện
                            và dễ thương luôn ạ. Em cũng cảm ơn chị Thư và chị Ngọc đã cẩn thận tỉ mỉ giúp đỡ em trong
                            quá trình apply visa, và có kết quả sau 12 ngày làm việc, quá nhanh gọn</p>
                        <p class="overview"><b>Phạm Quế Anh</b>, UNIVERSITY OF HUDDERSFIELD</p>
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}