{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load cropping %}
{% block content %}


    {% include 'main/carousel.html' %}

    <div class="container padding">
        <h1 class="display-4 display-title no-line padding"><span>Danh sách trường</span></h1>
        <div class="row padding">
            {% for university in page_obj %}
                <div class="col-md-3">
                    <div class="card card-university">
                        <a href="{% url 'university_detail' university_id=university.id %}">
                            <img class="card-img-top" src="{% cropped_thumbnail university "cropping" %}">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title truncate-title">{{ university.universityName }}</h4>
                            <p class="card-text truncate">{{ university.description|striptags|safe }}</p>
                            <a href="{% url 'university_detail' university_id=university.id %}"
                               class="btn btn-outline-secondary">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                {% if page_obj.has_other_pages %}
                <ul class="pagination justify-content-center">
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}