{% extends 'main/index_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="about_bg">
        <div class="container">
            {% include 'main/navbar.html' %}
            <div class="row">
                <div class="col-md-12">
                    <h1>Điểm đến du học</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="admission_cources">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>{{ university.universityName }}</h2>
                    <p class="mb-4">Du học Anh quốc luôn là lựa chọn ưu tiên của sinh viên quốc tế - Đây sẽ là cơ hội để
                        được sinh
                        sống và làm việc trong cái nôi của nền giáo dục hàng đầu thế giới. Với kinh nghiệm làm việc lâu
                        năm và có chi nhánh văn phòng tại London, đội ngũ chuyên viên Đồng Thịnh tự tin đem đến cho bạn
                        dịch vụ Tư vấn du học Anh quốc chuyên nghiệp & uy tín.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/media/{{ university.pic }}" class="img-fluid" alt="#">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-6">
                    <div class="admission_discription">
                        <h4>{{ university.universityName }}</h4>

                        <p>{{ university.description }}</p>
                        <p>Các ngành học hiện có:</p>
                        {% for subject in subjects %}
                            <p>- {{ subject.subjectName }}</p>
                        {% endfor %}
                    </div>


                </div>
                <div class="col-lg-4">
                    {% for l in university.level_set.all %}
                    <ul class="admission_rating">
                            <li class="admission_star-second">Cấp bậc<span>:</span></li>
                            <li class="admission_star">{{ l.levelName }}</li>
                            <li class="admission_star-second">Điểm IELTS<span>:</span></li>
                            <li class="admission_star">{{ l.ieltOverall }}</li>
                            <li class="admission_star-second">Môn tối thiểu:<span>:</span></li>
                            <li class="admission_star">{{ l.ieltsMin }}</li>
                            <li class="admission_star-second">Học phí<span>:</span></li>
                            <li class="admission_star">{{ l.feeAYear }}$/năm</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}