{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    {% include 'main/breadcrumb.html' %}

    <section class="uni_search">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label>
                                    Ngành học</label>
                            </div>
                            <div class="col-lg-8">
                                {% render_field form.subject class='form-control custom-select' %}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label>
                                    Thành phố</label>
                            </div>
                            <div class="col-lg-8">
                                {% render_field form.cities class='form-control custom-select' %}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label>
                                    Cấp học</label>
                            </div>
                            <div class="col-lg-8">
                                {% render_field form.level class='form-control custom-select' %}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label>
                                    Ngân sách</label>
                            </div>
                            <div class="col-lg-8">
                                {% render_field form.budget type="range" class="slider" id="myRange" data-slider-id='ex1Slider' class="form-control form-range" min="10000" max="20000" step="1" %}
                                <p><span id="demo"></span>£/năm</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">

                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label>Họ tên</label>
                            </div>
                            <div class="col-lg-8">
                                {% render_field form.guest_name class='form-control' %}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label>Email</label>
                            </div>
                            <div class="col-lg-8">
                                {% render_field form.email class='form-control' %}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-4">
                                <label>Điện thoại</label>
                            </div>
                            <div class="col-lg-8">
                                {% render_field form.phone_number class="form-control" %}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-default btn-courses mt-4">Tìm trường</button>
                    </div>
                </div>
            </form>
            <br>
            <br>
        </div>
    </section>
    {% if unies %}
        <section class="section novi-background bg-cover section-70 section-md-114">
            <div class="shell isotope-wrap">
                <h2 class="text-bold">Danh sách trường phù hợp</h2>
                <hr class="divider bg-madison">
                <div class="row range-30 isotope offset-top-60 text-left">
                    {% for uni in unies %}
                        <div class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                            <article class="post-course"><a
                                    href="{% url 'university_detail' university_id=uni.id %}"><img
                                    class="img-responsive" src="/media/{{ uni.pic }}" width="370"
                                    height="240"
                                    alt=""></a>
                                <div class="post-news-body">
                                    <h6>
                                        <a href="{% url 'university_detail' university_id=uni.id %}">{{ uni.universityName|truncatewords:3 }}</a>
                                    </h6>
                                    <div class="post_meta">
                                        {#                                <ul>#}
                                        {#                                    <li><a href="course-grid.html#">Computer Science</a></li>#}
                                        {#                                    <li>#}
                                        {#                                        <p>Duration : 4 Yr</p>#}
                                        {#                                    </li>#}
                                        {#                                </ul>#}
                                    </div>
                                    <div class="offset-top-10">
                                        <p>{{ uni.description|safe|truncatechars_html:100 }}</p>
                                    </div>
                                    <div class="post-course-meta offset-top-20"><span
                                            class="text-middle text-black"><a
                                            href="{% url 'university_detail' university_id=uni.id %}">Tìm hiểu thêm</a></span><span
                                            class="icon inset-left-10 novi-icon icon-xs text-middle text-madison mdi-arrow-right mdi"></span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        }
    </script>
{% endblock %}
