

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif !important;
    color: #222 !important;
    scroll-behavior: smooth;
    /* background-color: #d5d5d5; */
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}


.dropdown-item {
    text-transform: uppercase;
}
.dropdown-item:hover {
    background-color: #b11215 !important;
    color: white !important;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-discription{
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
}
.carousel-caption {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.card-news {
    height: 450px;
}

.card-university {
    height: 420px;
}

.card-body a {
    color: #b11215;
}
.card-body a:hover {
    color: #26387c;
}

.list-group a {
    color: #26387c;
}
.list-group a:hover {
    color: #b11215;
}



.red-h5{
    color: #b11215;
}
.blue-h5 {
    color: #26387c;
}

.footer-end {
    background-color: #131c3e;
}

.footer-end > h5 {
    color: white;
}
h5 {

}
.padding-greybg {
    padding-top: 2rem;
    background-color: #e9ecef;
    margin-bottom: 2rem;
}

.padding-whitebg {
    /*padding-top: 2rem;*/
    margin-bottom: 2rem;
}

hr.light {
    border-top: 1px solid #26387c;
    /*width: 75%;*/
}

.display-title {
    font-size: 200% !important;
    text-transform: uppercase;
}

.card-blue-header {
    background-color: #26387c !important;
    color: white;
}
.card a {
    text-decoration: none !important;
}

.card-red-header {
    background-color: #b11215 !important;
    color: white;
}


.btn-outline-secondary {
    border-color: #26387c !important;
    background-color: #26387c !important;
    color: white !important;
}

.btn-outline-secondary:hover {
    color: white !important;
    background-color: #b11215 !important;
    border-color: #b11215 !important;
}

.btn-primary {
    color: white !important;
    background-color: #b11215 !important;
    border-color: #b11215 !important;
}

.btn-primary:hover {
    border-color: #26387c !important;
    background-color: #26387c !important;
    color: white !important;
}

.carousel .carousel-item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 30px 0 10px;
}

/*Form wizard*/
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center !important;
    padding: 6px 0 !important;
    font-size: 12px !important;
    line-height: 1.428571429 !important;
    border-radius: 15px !important;
}

.top-panel {
    background-image: url('/static/images/parallax-03.jpg');
    color: white;
    font-size: 40px;
    background-size: cover;
    background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    color:#d5d5d5;
}

.padding-0 {
    padding: 0 !important;
}
.uni-des {
    padding-top:25px;
}
.list-group-item{
    padding: 0.35rem 1.25rem !important;
}
.div-center{
    margin-left: auto;
    margin-right: auto;
}
.blue-bg{
    background-color: #26387c;
    color: white;
}
.nav-link:hover {
    font-size: 1.1em !important;
    color: #b11215 !important;
    text-transform: capitalize;
}
.nav-link {
    font-size: 1.1em !important;
    color: #ddd !important;
    text-transform: capitalize;
}

.width-100 {
    width:100%;
}

.no-line span{
    color: #b11215;
    text-transform: capitalize;
    font-weight:700;
}
.university-slide{
    width:90%;
}

.counter {
    padding-top: 6.6rem;
    padding-bottom: 5.4rem;
    color: rgba(255, 255, 255, 0.5);
    background-color: #000000;
    background-image: url(/static/images/slide-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.number{
    font-size:50px;
    color:#ddd;
}
.footer {
    background-color: #000000;
    color: #ffffff;
    padding-top: 2rem;
}

.footer-text {
    font-size: 15px;
}

.footer-text > h5 {
    color: #ddd;
}
.zalo {
    background: url(/static/images/logo-zalo-png-vertor-jpeg.jpg.webp); 
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    display: block;
    margin-left: 10px;
}
.img-container{
    position: relative;
}
.img-container .img-overlay {
    position: absolute;
    background: #000000d4;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0;
}
.float-img {
    margin: 0 0 -29px 0;
    max-width: 100%;
}
.btn-round {
    border-radius: 0.7rem !important;
}
.banner-box{
    background: #26387cd6;
    width: 570px;
    padding-bottom: 35px;
}
.banner-text{
    padding-top: 2rem;
}
.banner-text h5{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    width: 80%;
}
/* styles for 'truncate' */ 
.truncate {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 4.8em; 
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;  
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
  }
  /* create the ... */
  .truncate:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
  .truncate:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
  }
  .truncate-title {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 1.2em; 
    /* fix problem when last visible word doesn't adjoin right side  */
    /* text-align: justify;   */
    /* place for '...' */
    /* margin-right: -1em; */
    padding-right: 1em;
  }
  /* create the ... */
  .truncate-title:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
  .truncate-title:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
  }
  .btn-wide {
      padding: 0.5rem 4rem !important;
  }
  .rounded-15 {
      border-radius: 15%;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #b11215 !important;
    border-color: #b11215 !important;
}
.page-link{
    color: #000000 !important;
}
.article-img:hover + .article-description{
    display: block;
}
.article-description{
    display: none;
    position: absolute;
    background: #000000d4;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0;
}
.subject-title{
    position: absolute;
    color: white;
    width: 100%;
    bottom: calc(50% - 24px);
    left: 0;
    font-weight: 700;
}
.blue-hr {
    height: 5px !important;
    width: 6rem;
    color: #3087a3;
    opacity:1;
}
.university-description{
    padding-top: 3rem !important;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('/static/images/parallax-03.jpg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








